@namespace EventSchedulingAppv2.Models
@model Event

<h2>Event Details</h2>

<!--Table to view All Event and Collumns-->
<table class="table">
    <tr>
        <th>Date</th>
        <th>Contract</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Description</th>

    </tr>


    <tr>
        <td>@Model.EventDate.ToString("MMM-dd-yyyy")</td>
        <td>@(Model.Contract ? "Complete" : "Pending")</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.EmailAddress</td>
        <td>@Model.EventDescription</td>
    </tr>

</table>

<div style="display: flex; justify-content: flex-end; margin-top: 20px;">

    <form method="get" action="/Event/Delete/@Model.EventID" style="margin-right: 10px;">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this event?')">Delete this Event</button>
    </form>

    <form method="get" action="/Event/Update/@Model.EventID" style="margin-right: 10px;">
        <button type="submit" class="btn btn-primary">Update this Event</button>
    </form>
</div>